ul {
  padding: 0px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 30px;
  overflow: auto;
  height: 520px;
}

ul::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 1024px) {
  ul {
    margin-left: 100px;
  }
}
